<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="addPartidas"
		class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="two">

						<div class="panel-group" id="accordion">
							<div id="userform">
								<ul class="nav nav-tabs ng-scope">
									<li ><a 
										href="/user/pedimento.html">Generales</a></li>
									<li></li>
									<li class="active"><a data-toggle="tab" href="/user/partidas.html">Partidas</a></li>
									<li></li>
									<li class=""><a 
										href="/user/contribuciones">Contribuciones</a></li>
									<li></li>
								</ul>
								<div class="tab-content ng-scope">

									<div id="tab2" class="tab-pane fade  in active">

										<div>
											
											
											<form novalidate="" id="form28" name="form28" class="ng-pristine ng-valid-pattern ng-valid-maxlength ng-invalid ng-invalid-required">
   <h2></h2>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">CLAVE DEL TIPO DE REGISTRO</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-valid ng-valid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.clave_del_Tipo_de_Registro" ng-disabled="true" ng-init="formdata28.clave_del_Tipo_de_Registro=551" name="clave_del_Tipo_de_Registro" type="number" id="clave_del_Tipo_de_Registro" value="551" required="" ng-pattern="/^[1-9][0-9]*$/" limit-to="3" maxlength="3" disabled="disabled" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.clave_del_Tipo_de_Registro.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.clave_del_Tipo_de_Registro.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br> 
   
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">NÚMERO DE PEDIMENTO</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.número_de_pedimento" ng-disabled="false" name="número_de_pedimento" type="number" id="número_de_pedimento" value="" required="" ng-pattern="/^[9]{1}[0-9]{6}?$/" limit-to="7" maxlength="7" data-tooltip-append-to-body="true" data-tooltip="El primer dígito debe corresponder al último dígito del año en curso, mientras que los seis dígitos restantes son un número único de control asignado por el agente aduanal,apoderado aduanal o mandatario conservando los CEROS a la izquierda para que en conjunto sean siempre 7 dígitos. " /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6" style="color:red" ng-show="form28.número_de_pedimento.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.número_de_pedimento.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br>
   
   
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">FRACCIÓN ARANCELARIA</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.fracción_Arancelaria" ng-disabled="false" type="text" id="fracción_Arancelaria" limit-to="8" name="fracción_Arancelaria" maxlength="8" value="" /></div>
      <div class="form-group">
         <div class="col-sm-6"><input name="clave_formulario_principal" type="hidden" id="clave_formulario_principal" ng-model="formdata28.clave_formulario_principal" class="ng-pristine ng-untouched ng-valid" /></div>
      </div>
      <div class="col-sm-offset-8 col-sm-4">
         <div style="color:red" ng-show="form28.fracción_Arancelaria.$error.required">This Field is Required*</div>
         <br></br>
         <div style="color:red" ng-show="form28.fracción_Arancelaria.$error.pattern" class="ng-hide">This Field cannot be null or zero*</div>
      </div>
   </div>
   <br></br>
   
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">NÚMERO PARTIDA</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.número_Partida" ng-disabled="false" name="número_Partida" type="number" id="número_Partida" value="" required="" ng-pattern="/^[1-9][0-9]*$/" limit-to="5" maxlength="5" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6" style="color:red" ng-show="form28.número_Partida.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.número_Partida.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">SUBDIVISION FRACCIÓN</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.subdivision_Fracción" ng-disabled="false" type="text" id="subdivision_Fracción" limit-to="8" name="subdivision_Fracción" maxlength="8" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div style="color:red" ng-show="form28.subdivision_Fracción.$error.pattern" class="ng-hide">This Field cannot be null or zero*</div>
      </div>
   </div>
   <br></br>
   
     <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">DESCRIPCION MERCANCÍA</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.descripcion_Mercancía" ng-disabled="false" type="text" id="descripcion_Mercancía" limit-to="250" name="descripcion_Mercancía" maxlength="250" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div style="color:red" ng-show="form28.descripcion_Mercancía.$error.required">This Field is Required*</div>
         <br></br>
         <div style="color:red" ng-show="form28.descripcion_Mercancía.$error.pattern" class="ng-hide">This Field cannot be null or zero*</div>
      </div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">PRECIO UNITARIO</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.precio_Unitario" ng-disabled="false" name="precio_Unitario" type="number" id="precio_Unitario" value="" required="" ng-pattern="/^\d{0,10}(\.\d{1,5})?$/" limit-to="16" maxlength="16" placeholder="El campo contiene hasta 10 enteros y hasta  5 fracciones." /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.precio_Unitario.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">VALOR ADUANA</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.valor_Aduana" ng-disabled="false" name="valor_Aduana" type="number" id="valor_Aduana" value="" required="" ng-pattern="/^[1-9][0-9]*$/" limit-to="12" maxlength="12" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6" style="color:red" ng-show="form28.valor_Aduana.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.valor_Aduana.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br>
   
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">IMPORTE PRECIO PAGADO</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.importe_precio_pagado" ng-disabled="false" type="text" id="importe_precio_pagado" limit-to="12" name="importe_precio_pagado" maxlength="12" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div style="color:red" ng-show="form28.importe_precio_pagado.$error.required">This Field is Required*</div>
         <br></br> 
         <div style="color:red" ng-show="form28.importe_precio_pagado.$error.pattern" class="ng-hide">This Field cannot be null or zero*</div>
      </div>
   </div>
   <br>
   </br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">VALOR DÓLARES</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.valor_Dólares" ng-disabled="false" name="valor_Dólares" type="number" id="valor_Dólares" value="" required="" ng-pattern="/^\d{0,12}(\.\d{1,2})?$/" limit-to="15" maxlength="15" placeholder="El campo contiene hasta 12 enteros y hasta  2 fracciones." /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6" style="color:red" ng-show="form28.valor_Dólares.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.valor_Dólares.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br>
     <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">CANTIDAD MERCANCÍA UNIDADES</label>
      <div class="col-sm-6">
         <select id="second-choice" ng-model="formdata28.cantidad_mercancía_Unidades" required="required" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="? undefined:undefined ?"></option>
            <option value="1">1</option></select> </div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">UNIDAD MEDIDA COMERCIALIZACIÓN</label>
      <div class="col-sm-6">
         <select id="second-choice" ng-model="formdata28.unidad_Medida_Comercialización" required="required" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="? undefined:undefined ?"></option>
            <option value="1">1</option>
            <option value="2">2</option></select>
             </div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">CANTIDAD MERCANCÍA UNIDADES LIGIE</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.cantidad_mercancía_Unidades_LIGIE" ng-disabled="false" name="cantidad_mercancía_Unidades_LIGIE" type="number" id="cantidad_mercancía_Unidades_LIGIE" value="" required="" ng-pattern="/^\d{0,13}(\.\d{1,5})?$/" limit-to="19" maxlength="19" placeholder="El campo contiene hasta 13 enteros y hasta  5 fracciones." /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6" style="color:red" ng-show="form28.cantidad_mercancía_Unidades_LIGIE.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.cantidad_mercancía_Unidades_LIGIE.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">UNIDAD MEDIDA LIGIE</label>
      <div class="col-sm-6">
         <select id="second-choice" ng-model="formdata28.unidad_Medida_LIGIE" required="required" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="? undefined:undefined ?"></option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">VALOR AGREGADO</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="formdata28.valor_Agregado" ng-disabled="false" name="valor_Agregado" type="number" id="valor_Agregado" value="" required="" ng-pattern="/^[1-9][0-9]*$/" limit-to="12" maxlength="12" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div class="col-sm-6" style="color:red" ng-show="form28.valor_Agregado.$error.required">This Field is Required*</div>
         <br></br>
         <div class="col-sm-6 ng-hide" style="color:red" ng-show="form28.valor_Agregado.$error.pattern">This Field cannot be null or zero</div>
      </div>
   </div>
   <br>
   </br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">VINCULACIÓN</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.vinculación" ng-disabled="false" type="text" id="vinculación" limit-to="1" name="vinculación" maxlength="1" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4">
         <div style="color:red" ng-show="form28.vinculación.$error.required">This Field is Required*</div>
         <br></br>
         <div style="color:red" ng-show="form28.vinculación.$error.pattern" class="ng-hide">This Field cannot be null or zero*</div>
      </div>
   </div>
   <br>
   </br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">CÓDIGO PRODUCTO</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.código_producto" ng-disabled="false" type="text" id="código_producto" limit-to="20" name="código_producto" maxlength="20" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">MÉTODO VALORACIÓN</label>
      <div class="col-sm-6">
         <select id="second-choice" ng-model="formdata28.método_Valoración" required="required" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="? undefined:undefined ?"></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
         </select>
      </div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">MARCA MERCANCÍA</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.marca_mercancía" ng-disabled="false" type="text" id="marca_mercancía" limit-to="80" name="marca_mercancía" maxlength="80" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">MODELO LOTE MERCANCÍA</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.modelo_Lote_mercancía" ng-disabled="false" type="text" id="modelo_Lote_mercancía" limit-to="80" name="modelo_Lote_mercancía" maxlength="80" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">PAÍS ORIGEN DESTINO MERCANCÍA</label>
      <div class="col-sm-6">
         <select id="second-choice" ng-model="formdata28.país_Origen_Destino_mercancía" required="required" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="? undefined:undefined ?"></option>
            <option value="A1">A1</option>
       </select>
      </div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">PAÍS VENDEDOR COMPRADOR</label>
      <div class="col-sm-6">
         <select id="second-choice" ng-model="formdata28.país_Vendedor_Comprador" required="required" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="? undefined:undefined ?"></option>
            <option value="A1">A1</option>
      </select> </div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">ENTIDAD FEDERATIVA ORIGEN MERCANCÍAS</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.entidad_Federativa_Origen_mercancías" ng-disabled="false" type="text" id="entidad_Federativa_Origen_mercancías" limit-to="3" name="entidad_Federativa_Origen_mercancías" maxlength="3" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">ENTIDAD FEDERATIVA DESTINO MERCANCÍAS</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.entidad_Federativa_Destino_mercancías" ng-disabled="false" type="text" id="entidad_Federativa_Destino_mercancías" limit-to="3" name="entidad_Federativa_Destino_mercancías" maxlength="3" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
   <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">ENTIDAD FEDERATIVA COMPRADOR MERCANCÍAS</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.entidad_Federativa_Comprador_mercancías" ng-disabled="false" type="text" id="entidad_Federativa_Comprador_mercancías" limit-to="3" name="entidad_Federativa_Comprador_mercancías" maxlength="3" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="keyofrecord">ENTIDAD FEDERATIVA VENDEDOR MERCANCÍAS</label>
      <div class="col-sm-6"><input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" required="" ng-model="formdata28.entidad_Federativa_Vendedor_mercancías" ng-disabled="false" type="text" id="entidad_Federativa_Vendedor_mercancías" limit-to="3" name="entidad_Federativa_Vendedor_mercancías" maxlength="3" value="" /></div>
      <div class="col-sm-offset-8 col-sm-4"></div>
   </div>
   <br></br>
   <div class="form-group">
													<div class="col-lg-offset-2 col-lg-10">
														<button ng-disabled="isDisabled28 || form28.$invalid"
															class="btn btn-theme"
															ng-click="tabDisabled=false;isDisabled28=true;isLock28=true;$event.preventDefault();save(formdata28,28,1,'formdata28','pedimento','551','two','false')"
															disabled="disabled">Guardar</button>
														<button class="btn btn-theme buttonclass" ng-click="return()">
															
															Return back
														</button>
													</div>
												</div>
   </form>
   
   
   
												<!-- formgroup div end -->
            
            <br></br>
											<div class="col-sm-12">
												<button class="btn btn-theme buttonclass" ng-disabled="tabDisabled"  ng-click="show('formdata11','deppedimento','353','valor','true')">
DeterPagoContrNivelPartidaArtículos303TLCAN14Decisión15
												</button>
												<button class="btn btn-theme buttonclass" ng-disabled="tabDisabled" ng-click="show('formdata23','deppedimento','552','mercancios','true')">
													Mercancías
												</button>
												<button class="btn btn-theme buttonclass" ng-disabled="tabDisabled" ng-click="show('formdata30','deppedimento','553','permisos','true')">
													Permisos
												</button>
												<button class="btn btn-theme buttonclass" ng-disabled="tabDisabled" ng-click="show('formdata21','deppedimento','554','identificadores','true')">
													IdentificadoresNivelPartida
												</button>
												<button class="btn btn-theme buttonclass" ng-disabled="tabDisabled" ng-click="show('formdata37','deppedimento','555','nivelpartida','true')">
													GarantíaNivelPartida
												</button>
												<button class="btn btn-theme buttonclass" ng-disabled="tabDisabled" ng-click="show('formdata25','deppedimento','558','obnivelpartida','true')">
													ObservacionesNivelPartida
												</button>
											</div>
											
										</div></div></div></div></div>


				</div>


</body>

</html>
