<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<div th:fragment="facturas"
		class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="facturas">
		<div class="panel-group" id="accordion15">
			<div>
				<ul class="nav nav-tabs ng-scope">
					<li class="active"><a data-toggle="tab"
						href="/user/pedimento.html">Generales</a></li>
					<li></li>
					<li class=""><a href="/user/partidas.html">Partidas</a></li>
					<li></li>
					<li class=""><a data-toggle="tab" href="/user/contribuciones">Contribuciones</a></li>
					<li></li>
				</ul>
				<div class="tab-content ng-scope">
					<div id="tab15" class="tab-pane fade active show in">
						<div>
							<div class="table-responsive">
								<table id="tableId"
									class="table table-striped table-advance table-hover">
									<thead>
										<tr>
											<th>FECHA DE FACTURACIÓN</th>
											<th>NÚMERO DE FACTURA ACUSE DE VALOR O CFDI</th>
											<th>TÉRMINO DE FACTURACIÓN</th>
											<th>MONEDA DE FACTURACIÓN</th>
											<th>VALOR TOTAL DE LAS MERCANCÍAS EN DÓLARES</th>
											<th>VALOR TOTAL DE LAS MERCANCÍAS EN FACTURACIÓNL</th>
											<th>PAIS DE FACTURACIÓN</th>
											<th>NOMBRE DEL PROVEEDOR O COMPRADOR</th>
											<th>Accciones</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="data in deppedimento.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: search">
											<td>{{data.fecha_de_facturación}}</td>
											<td>{{data.número_de_Factura_acuse_de_valor_o_CFDI}}</td>
											<td>{{data.término_de_Facturación}}</td>
											<td>{{data.moneda_de_Facturación}}</td>
											<td>{{data.valor_Total_de_las_Mercancías_en_Dólares}}</td>
											<td>{{data.valor_Total_de_las_Mercancías_en_facturaciónl}}</td>
											<td>{{data.pais_de_Facturación}}</td>
											<td>{{data.nombre_del_Proveedor_o_Comprador}}</td>

											<td ng-click="edit(data,'formdata15','facturas')"><i
												class="fa fa-pencil"></i></td>
											<td ng-click="delete(data,'deppedimento')"><i
												class="fa fa-trash-o "></i></td>

										</tr>

									</tbody>
								</table>
							</div>
							<hr></hr>
						</div>
						<div>
							<form novalidate="" id="form15" name="form15"
								class="ng-pristine ng-valid-pattern ng-valid-maxlength ng-invalid ng-invalid-required">
								<h2></h2>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">CLAVE
										DEL TIPO DE REGISTRO</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-valid ng-valid-required ng-valid-pattern ng-valid-maxlength"
											ng-model="formdata15.clave_del_Tipo_de_Registro"
											ng-disabled="true"
											ng-init="formdata15.clave_del_Tipo_de_Registro=505"
											name="clave_del_Tipo_de_Registro" type="number"
											id="clave_del_Tipo_de_Registro" value="505" required=""
											ng-pattern="/^[1-9][0-9]*$/" limit-to="3" maxlength="3"
											disabled="disabled" />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div class="col-sm-6 ng-hide" style="color: red"
											ng-show="form15.clave_del_Tipo_de_Registro.$error.required">This
											Field is Required*</div>
										<br></br>
										<div class="col-sm-6 ng-hide" style="color: red"
											ng-show="form15.clave_del_Tipo_de_Registro.$error.pattern">This
											Field cannot be null or zero</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">NÚMERO
										DE PEDIMENTO</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
											ng-model="formdata15.número_de_Pedimento" ng-disabled="false"
											name="número_de_Pedimento" type="number"
											id="número_de_Pedimento" value="" required=""
											ng-pattern="/^[9]{1}[0-9]{6}?$/" limit-to="7" maxlength="7"
											data-tooltip-append-to-body="true"
											data-tooltip="El primer dígito debe corresponder al último dígito del año en curso, mientras que los seis dígitos restantes son un número único de control asignado por el agente aduanal,apoderado aduanal o mandatario conservando los CEROS a la izquierda para que en conjunto sean siempre 7 dígitos. " />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div class="col-sm-6" style="color: red"
											ng-show="form15.número_de_Pedimento.$error.required">This
											Field is Required*</div>
										<br></br>
										<div class="col-sm-6 ng-hide" style="color: red"
											ng-show="form15.número_de_Pedimento.$error.pattern">This
											Field cannot be null or zero</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">FECHA
										DE FACTURACIÓN</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required="" ng-model="formdata15.fecha_de_facturación"
											ng-disabled="false" type="text" id="fecha_de_facturación"
											limit-to="8" name="fecha_de_facturación" maxlength="8"
											value="" />
									</div>
									<div class="form-group">
										<div class="col-sm-6">
											<input name="clave_formulario_principal" type="hidden"
												id="clave_formulario_principal"
												ng-model="formdata15.clave_formulario_principal"
												class="ng-pristine ng-untouched ng-valid" />
										</div>
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">NÚMERO
										DE FACTURA ACUSE DE VALOR O CFDI</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.número_de_Factura_acuse_de_valor_o_CFDI"
											ng-disabled="false" type="text"
											id="número_de_Factura_acuse_de_valor_o_CFDI" limit-to="40"
											name="número_de_Factura_acuse_de_valor_o_CFDI" maxlength="40"
											value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div style="color: red"
											ng-show="form15.número_de_Factura_acuse_de_valor_o_CFDI.$error.required">This
											Field is Required*</div>
										<br></br>
										<div style="color: red"
											ng-show="form15.número_de_Factura_acuse_de_valor_o_CFDI.$error.pattern"
											class="ng-hide">This Field cannot be null or zero*</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">TÉRMINO
										DE FACTURACIÓN</label>
									<div class="col-sm-6">
										<select id="second-choice"
											ng-model="formdata15.término_de_Facturación"
											required="required"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
											<option value="? undefined:undefined ?"></option>
											<option value="CFR">CFR</option>
											<option value="CIF">CIF</option>
											<option value="CPT">CPT</option>
											<option value="CIP">CIP</option>
											<option value="DAF">DAF</option>
											<option value="DAP">DAP</option>
											<option value="DAT">DAT</option>
											<option value="DES">DES</option>
											<option value="DEQ">DEQ</option>
											<option value="DDU">DDU</option>
											<option value="DDP">DDP</option>
											<option value="EXW">EXW</option>
											<option value="FCA">FCA</option>
											<option value="FAS">FAS</option>
											<option value="FOB">FOB</option>
										</select>
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">MONEDA
										DE FACTURACIÓN</label>
									<div class="col-sm-6">
										<select id="second-choice"
											ng-model="formdata15.moneda_de_Facturación"
											required="required"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
											<option value="? undefined:undefined ?"></option>
											<option value="AFRICA CENTRAL">AFRICA CENTRAL</option>
											<option value="ALBANIA">ALBANIA</option>
											<option value="ALEMANIA">ALEMANIA</option>
											<option value="ANTILLAS HOLAN.">ANTILLAS HOLAN.</option>
											<option value="ARABIA SAUDITA">ARABIA SAUDITA</option>
											<option value="ARGELIA">ARGELIA</option>
											<option value="ARGENTINA">ARGENTINA</option>
											<option value="AUSTRALIA">AUSTRALIA</option>
											<option value="AUSTRIA">AUSTRIA</option>
											<option value="BAHAMAS">BAHAMAS</option>
											<option value="BAHRAIN">BAHRAIN</option>
											<option value="BARBADOS">BARBADOS</option>
											<option value="BELGICA">BELGICA</option>
											<option value="BELICE">BELICE</option>
											<option value="BERMUDA">BERMUDA</option>
											<option value="BOLIVIA">BOLIVIA</option>
											<option value="BRASIL">BRASIL</option>
											<option value="BULGARIA">BULGARIA</option>
											<option value="CANADA">CANADA</option>
											<option value="CHILE">CHILE</option>
											<option value="CHINA">CHINA</option>
											<option value="CHINA">CHINA</option>
											<option value="CHIPRE">CHIPRE</option>
											<option value="COLOMBIA">COLOMBIA</option>
											<option value="COREA DEL NORTE">COREA DEL NORTE</option>
											<option value="COREA DEL SUR">COREA DEL SUR</option>
											<option value="COSTA RICA">COSTA RICA</option>
											<option value="CUBA">CUBA</option>
											<option value="DINAMARCA">DINAMARCA</option>
											<option value="ECUADOR">ECUADOR</option>
											<option value="EGIPTO">EGIPTO</option>
											<option value="EL SALVADOR">EL SALVADOR</option>
											<option value="EM. ARABES UNIDOS">EM. ARABES UNIDOS</option>
											<option value="ESLOVENIA">ESLOVENIA</option>
											<option value="ESPAÑA">ESPAÑA</option>
											<option value="ESTONIA">ESTONIA</option>
											<option value="ETIOPIA">ETIOPIA</option>
											<option value="E.U.A.">E.U.A.</option>
											<option value="FED. RUSA">FED. RUSA</option>
											<option value="FIDJI">FIDJI</option>
											<option value="FILIPINAS">FILIPINAS</option>
											<option value="FINLANDIA">FINLANDIA</option>
											<option value="FRANCIA">FRANCIA</option>
											<option value="GHANA">GHANA</option>
											<option value="GRAN BRETAÑA">GRAN BRETAÑA</option>
											<option value="GRECIA">GRECIA</option>
											<option value="GUATEMALA">GUATEMALA</option>
											<option value="GUYANA">GUYANA</option>
											<option value="LOS DEMAS PAISES">LOS DEMAS PAISES</option>
										</select>
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">VALOR
										TOTAL DE LAS MERCANCÍAS EN DÓLARES</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
											ng-model="formdata15.valor_Total_de_las_Mercancías_en_Dólares"
											ng-disabled="false"
											name="valor_Total_de_las_Mercancías_en_Dólares" type="number"
											id="valor_Total_de_las_Mercancías_en_Dólares" value=""
											required="" ng-pattern="/^\d{0,12}(\.\d{1,2})?$/"
											limit-to="15" maxlength="15"
											placeholder="El campo contiene hasta 12 enteros y hasta  2 fracciones." />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div class="col-sm-6 ng-hide" style="color: red"
											ng-show="form15.valor_Total_de_las_Mercancías_en_Dólares.$error.pattern">This
											Field cannot be null or zero</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">VALOR
										TOTAL DE LAS MERCANCÍAS EN FACTURACIÓNL</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength"
											ng-model="formdata15.valor_Total_de_las_Mercancías_en_facturaciónl"
											ng-disabled="false"
											name="valor_Total_de_las_Mercancías_en_facturaciónl"
											type="number"
											id="valor_Total_de_las_Mercancías_en_facturaciónl" value=""
											required="" ng-pattern="/^\d{0,12}(\.\d{1,2})?$/"
											limit-to="15" maxlength="15"
											placeholder="El campo contiene hasta 12 enteros y hasta  2 fracciones." />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div class="col-sm-6 ng-hide" style="color: red"
											ng-show="form15.valor_Total_de_las_Mercancías_en_facturaciónl.$error.pattern">This
											Field cannot be null or zero</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">PAIS
										DE FACTURACIÓN</label>
									<div class="col-sm-6">
										<select id="second-choice"
											ng-model="formdata15.pais_de_Facturación" required="required"
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
											<option value="? undefined:undefined ?"></option>
											<option value="A1">A1</option>
											<option value="A2">A2</option>
											<option value="A4">A4</option>
											<option value="A7">A7</option>
											<option value="A8">A8</option>
											<option value="AI">AI</option>
											<option value="A9">A9</option>
											<option value="B1">B1</option>
											<option value="B2">B2</option>
											<option value="B3">B3</option>
											<option value="B4">B4</option>
											<option value="AM">AM</option>
											<option value="A0">A0</option>
											<option value="B5">B5</option>
											<option value="B6">B6</option>
											<option value="AZ">AZ</option>
											<option value="B7">B7</option>
											<option value="B8">B8</option>
											<option value="B9">B9</option>
											<option value="C1">C1</option>
											<option value="C2">C2</option>
											<option value="C3">C3</option>
											<option value="F9">F9</option>
											<option value="C4">C4</option>
											<option value="BY">BY</option>
											<option value="C6">C6</option>
											<option value="X7">X7</option>
											<option value="C7">C7</option>
											<option value="C8">C8</option>
											<option value="C9">C9</option>
											<option value="D1">D1</option>
											<option value="A6">A6</option>
											<option value="D2">D2</option>
											<option value="D3">D3</option>
											<option value="D4">D4</option>
											<option value="F4">F4</option>
											<option value="D6">D6</option>
											<option value="D7">D7</option>
											<option value="D8">D8</option>
											<option value="D9">D9</option>
											<option value="E1">E1</option>
											<option value="F6">F6</option>
											<option value="Z3">Z3</option>
											<option value="F8">F8</option>
											<option value="E2">E2</option>
											<option value="E3">E3</option>
											<option value="E4">E4</option>
											<option value="E5">E5</option>
											<option value="EU">EU</option>
											<option value="E6">E6</option>
											<option value="E7">E7</option>
											<option value="E9">E9</option>
											<option value="E8">E8</option>
											<option value="F1">F1</option>
											<option value="F2">F2</option>
											<option value="HR">HR</option>
											<option value="F3">F3</option>
											<option value="D0">D0</option>
											<option value="G1">G1</option>
											<option value="V4">V4</option>
											<option value="G2">G2</option>
											<option value="G3">G3</option>
											<option value="G4">G4</option>
											<option value="G5">G5</option>
											<option value="G6">G6</option>
											<option value="ER">ER</option>
											<option value="SI">SI</option>
											<option value="G7">G7</option>
											<option value="FM">FM</option>
											<option value="G8">G8</option>
											<option value="G0">G0</option>
											<option value="G9">G9</option>
											<option value="H1">H1</option>
											<option value="H3">H3</option>
											<option value="H4">H4</option>
											<option value="H5">H5</option>
											<option value="GZ">GZ</option>
											<option value="H6">H6</option>
											<option value="H7">H7</option>
											<option value="GE">GE</option>
											<option value="H8">H8</option>
											<option value="GI">GI</option>
											<option value="I1">I1</option>
											<option value="I2">I2</option>
											<option value="GL">GL</option>
											<option value="I4">I4</option>
											<option value="I5">I5</option>
											<option value="I6">I6</option>
											<option value="J1">J1</option>
											<option value="I9">I9</option>
											<option value="I8">I8</option>
											<option value="I7">I7</option>
											<option value="J2">J2</option>
											<option value="J3">J3</option>
											<option value="J5">J5</option>
											<option value="J6">J6</option>
											<option value="J7">J7</option>
											<option value="J8">J8</option>
											<option value="J9">J9</option>

										</select>
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">ENTIDAD
										FEDERATIVA DE FACTURACIÓN</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.entidad_Federativa_de_Facturación"
											ng-disabled="false" type="text"
											id="entidad_Federativa_de_Facturación" limit-to="3"
											name="entidad_Federativa_de_Facturación" maxlength="3"
											value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">IDENTIFICACIÓN
										FISCAL DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.identificación_Fiscal_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="identificación_Fiscal_del_Proveedor_o_Comprador"
											limit-to="30"
											name="identificación_Fiscal_del_Proveedor_o_Comprador"
											maxlength="30" value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div style="color: red"
											ng-show="form15.identificación_Fiscal_del_Proveedor_o_Comprador.$error.required">This
											Field is Required*</div>
										<br></br>
										<div style="color: red"
											ng-show="form15.identificación_Fiscal_del_Proveedor_o_Comprador.$error.pattern"
											class="ng-hide">This Field cannot be null or zero*</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">NOMBRE
										DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.nombre_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="nombre_del_Proveedor_o_Comprador" limit-to="120"
											name="nombre_del_Proveedor_o_Comprador" maxlength="120"
											value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4">
										<div style="color: red"
											ng-show="form15.nombre_del_Proveedor_o_Comprador.$error.required">This
											Field is Required*</div>
										<br></br>
										<div style="color: red"
											ng-show="form15.nombre_del_Proveedor_o_Comprador.$error.pattern"
											class="ng-hide">This Field cannot be null or zero*</div>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">CALLE
										DEL DOMICILIO DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.calle_del_domicilio_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="calle_del_domicilio_del_Proveedor_o_Comprador"
											limit-to="80"
											name="calle_del_domicilio_del_Proveedor_o_Comprador"
											maxlength="80" value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">NÚMERO
										INTERIOR DEL DOMICILIO DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.número_interior_del_domicilio_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="número_interior_del_domicilio_del_Proveedor_o_Comprador"
											limit-to="10"
											name="número_interior_del_domicilio_del_Proveedor_o_Comprador"
											maxlength="10" value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">NÚMERO
										EXTERIOR DEL DOMICILIO DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.número_exterior_del_domicilio_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="número_exterior_del_domicilio_del_Proveedor_o_Comprador"
											limit-to="10"
											name="número_exterior_del_domicilio_del_Proveedor_o_Comprador"
											maxlength="10" value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">CÓDIGO
										POSTAL DEL DOMICILIO DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.código_postal_del_domicilio_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="código_postal_del_domicilio_del_Proveedor_o_Comprador"
											limit-to="10"
											name="código_postal_del_domicilio_del_Proveedor_o_Comprador"
											maxlength="10" value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="keyofrecord">MUNICIPIO
										DEL DOMICILIO DEL PROVEEDOR O COMPRADOR</label>
									<div class="col-sm-6">
										<input
											class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength"
											required=""
											ng-model="formdata15.municipio_del_domicilio_del_Proveedor_o_Comprador"
											ng-disabled="false" type="text"
											id="municipio_del_domicilio_del_Proveedor_o_Comprador"
											limit-to="80"
											name="municipio_del_domicilio_del_Proveedor_o_Comprador"
											maxlength="80" value="" />
									</div>
									<div class="col-sm-offset-8 col-sm-4"></div>
								</div>
								<br></br>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<button ng-disabled="isDisabled15 || form15.$invalid"
											class="btn btn-theme"
											ng-click="isLock15=true;$event.preventDefault();save(formdata15,15,1,'formdata15','deppedimento','505','facturas','true')"
											disabled="disabled">Guardar</button>
										<button ng-click="dependentReturn()"
											class="btn btn-theme buttonclass">Return back</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>